In [6]:
import pyodbc

conexao = ("Driver={SQLite3 ODBC Driver};"
        "Server=localhost;"
        "Database=salarios.sqlite")

conexao2 = pyodbc.connect(conexao)
print("Conexão bem Sucedida")

cursor = conexao2.cursor()

Conexão bem Sucedida

In [18]:
cursor.execute("SELECT * FROM Salaries")

values = cursor.fetchall()
print(values[2])

descricao = cursor.description
print(descricao)

(3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, None, 335279.91, 335279.91, 2011, '', 'San Francisco', '')
(('Id', <class 'int'>, None, 10, 10, 0, True), ('EmployeeName', <class 'str'>, None, 65536, 65536, 0, True), ('JobTitle', <class 'str'>, None, 65536, 65536, 0, True), ('BasePay', <class 'float'>, None, 54, 54, 0, True), ('OvertimePay', <class 'float'>, None, 54, 54, 0, True), ('OtherPay', <class 'float'>, None, 54, 54, 0, True), ('Benefits', <class 'float'>, None, 54, 54, 0, True), ('TotalPay', <class 'float'>, None, 54, 54, 0, True), ('TotalPayBenefits', <class 'float'>, None, 54, 54, 0, True), ('Year', <class 'int'>, None, 10, 10, 0, True), ('Notes', <class 'str'>, None, 65536, 65536, 0, True), ('Agency', <class 'str'>, None, 65536, 65536, 0, True), ('Status', <class 'str'>, None, 65536, 65536, 0, True))

In [15]:
colunas = [tuple[0] for tupla in descricao]
print(descricao)

(('Id', <class 'int'>, None, 10, 10, 0, True), ('EmployeeName', <class 'str'>, None, 65536, 65536, 0, True), ('JobTitle', <class 'str'>, None, 65536, 65536, 0, True), ('BasePay', <class 'float'>, None, 54, 54, 0, True), ('OvertimePay', <class 'float'>, None, 54, 54, 0, True), ('OtherPay', <class 'float'>, None, 54, 54, 0, True), ('Benefits', <class 'float'>, None, 54, 54, 0, True), ('TotalPay', <class 'float'>, None, 54, 54, 0, True), ('TotalPayBenefits', <class 'float'>, None, 54, 54, 0, True), ('Year', <class 'int'>, None, 10, 10, 0, True), ('Notes', <class 'str'>, None, 65536, 65536, 0, True), ('Agency', <class 'str'>, None, 65536, 65536, 0, True), ('Status', <class 'str'>, None, 65536, 65536, 0, True))

*UTILIZAÇÃO DO PANDAS PARA EXIBIÇÃO DE RESULTADOS*

In [20]:
import pandas as pd

*AGORA COLOCAREMOS AS INFORMAÇÕES DOS REGISTROS DE TABELA E APRESENTAREMOS*

*ARMAZENANDO OS VALORES NA VARIAVEL tabela_clientes*

In [22]:
tabela_salarios = pd.DataFrame.from_records(descricao)
print(tabela_salarios)

                   0                1     2      3      4  5     6
0                 Id    <class 'int'>  None     10     10  0  True
1       EmployeeName    <class 'str'>  None  65536  65536  0  True
2           JobTitle    <class 'str'>  None  65536  65536  0  True
3            BasePay  <class 'float'>  None     54     54  0  True
4        OvertimePay  <class 'float'>  None     54     54  0  True
5           OtherPay  <class 'float'>  None     54     54  0  True
6           Benefits  <class 'float'>  None     54     54  0  True
7           TotalPay  <class 'float'>  None     54     54  0  True
8   TotalPayBenefits  <class 'float'>  None     54     54  0  True
9               Year    <class 'int'>  None     10     10  0  True
10             Notes    <class 'str'>  None  65536  65536  0  True
11            Agency    <class 'str'>  None  65536  65536  0  True
12            Status    <class 'str'>  None  65536  65536  0  True